Repository sem0k4/SOFT---Fenku-IT--: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, typescript-check, frontend-tests

django-check:
  name: Django Check
  entry: bash -c 'cd backend && python manage.py check'
  language: system
  pass_filenames: false

django-check-migrations:
  name: Django Check Migrations
  entry: bash -c 'cd backend && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci'
  language: system
  pass_filenames: false
  stages:
  - push

Exclusion des fichiers Docker du repository - Ajout au .gitignore
  .gitignore
  backend/.dockerignore
  backend/Dockerfile
  backend/docker-entrypoint.sh
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/docker-entrypoint.sh
Due: frontend-tests

Update settings.py
  backend/core/settings.py
Due: django-check

Nettoyage README - Suppression sections Documentation Interactive, Contribution et Support
  README.md
Due: none

Update README.md
  README.md
Due: none

Fix: Suppression application IoT défectueuse et correction migrations
  README.md
  backend/core/settings.py
  backend/core/urls.py
  backend/fajma/migrations/0010_allergie_alter_biometrie_table.py
  backend/fajma/migrations/0014_delete_capteuriot.py
Due: django-check

Mise à jour du projet pour la branche El_Tafa
  README.md
Due: none

recuperation des consultations depuis la base de donnees
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/landing/Home/Chatbot.jsx
  frontend/src/components/shared/HeaderDashboard.jsx
  frontend/src/scenes/dashboard-patients/components/DatasVitals.jsx
  frontend/src/scenes/dashboard-patients/components/IntroDashboard.jsx
  frontend/src/scenes/dashboard-patients/components/NavSub.jsx
  frontend/src/scenes/dashboard-patients/components/ParamsHealth.jsx
  frontend/src/scenes/dashboard-patients/components/RecentsConsultations.jsx
  frontend/src/scenes/dashboard-patients/components/ReminderMedication.jsx
  frontend/src/scenes/dashboard-patients/index.jsx
  frontend/src/scenes/dashboard-patients/services/consultations&RDV.js
  frontend/src/scenes/dashboard-patients/services/index.js
  frontend/src/scenes/dashboard-patients/services/infosPatient.js
  frontend/src/scenes/global/SidebarDesktop.jsx
  frontend/src/scenes/global/SidebarMobile.jsx
  frontend/src/scenes/global/Topbar.jsx
  frontend/src/scenes/global/components/MenuNotifications.jsx
  frontend/src/scenes/global/components/MenuProfilePatient.jsx
Due: frontend-tests

debut impletation de la partie chat
  frontend/src/scenes/dashboard-patients/components/IntroDashboard.jsx
  frontend/src/scenes/global/components/MenuProfilePatient.jsx
  frontend/src/scenes/messagerie/components/DetailMessage.jsx
  frontend/src/scenes/messagerie/components/InputMessage.jsx
  frontend/src/scenes/messagerie/components/Message.jsx
  frontend/src/scenes/messagerie/components/SidebarChat.jsx
  frontend/src/scenes/messagerie/components/TabChat.jsx
  frontend/src/scenes/messagerie/datasFictifs.js
  frontend/src/scenes/messagerie/index.jsx
Due: frontend-tests

Path conditions:
  django-check: any of: ^backend/ and \.py$
  django-check-migrations: any of: ^backend/.*models\.py$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-tests: any of: ^frontend/
